// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.box{
  width: 76%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  -webkit-box-shadow: 7px 0px 86px -46px rgba(0,0,0,1);
  -moz-box-shadow: 7px 0px 86px -46px rgba(0,0,0,1);
  box-shadow: 7px 0px 86px -46px rgba(0,0,0,1);
  h2 {
    display: inline;
    margin-bottom: -10px;
  }
  p {
    width: 70%;
    margin: 0 auto;
  }
}

.comment {
  border-top: 2px solid black;
  list-style: none;
  li {
    border: 1px solid grey;
    display: inline-block;
    margin-top: 20px;
    padding: 20px;
    box-shadow: inset 7px 0px 86px -46px rgba(0,0,0,0.87);
  }
}

.container-form {
  width: 70%;
  margin: 0 auto;
  input{
    display: block;
    width: 50%;
  }
  textarea {
    display: block;
    width: 50%;
    height: 100px;
  }
}
